@model CST350_CLC.Models.UserModel

<div>
    <h4>You have failed me for the last time.</h4>
    <hr />
    <p>Well, @Model.firstName @Model.lastName, it appears that @Model.username and @Model.password is not going to get you anywhere in this application.</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
